@model HRManagementSystem.Domain.Entities.JobTitle

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["CreateJobTitle"];
}

<h1>@Localizer["CreateJobTitle"]</h1>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label asp-for="NameAr" class="control-label">@Localizer["NameAr"]</label>
		<input asp-for="NameAr" class="form-control" />
		<span asp-validation-for="NameAr" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="NameEn" class="control-label">@Localizer["NameEn"]</label>
		<input asp-for="NameEn" class="form-control" />
		<span asp-validation-for="NameEn" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DescriptionAr" class="control-label">@Localizer["DescriptionAr"]</label>
		<textarea asp-for="DescriptionAr" class="form-control"></textarea>
		<span asp-validation-for="DescriptionAr" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DescriptionEn" class="control-label">@Localizer["DescriptionEn"]</label>
		<textarea asp-for="DescriptionEn" class="form-control"></textarea>
		<span asp-validation-for="DescriptionEn" class="text-danger"></span>
	</div>
	<div class="form-group form-check">
		<input asp-for="IsActive" class="form-check-input" />
		<label asp-for="IsActive" class="form-check-label">@Localizer["Active"]</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">@Localizer["CreateButton"]</button>
		<a class="btn btn-secondary" asp-action="Index">@Localizer["Cancel"]</a>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
